$tertiary: $orange;
$font-size-px-sm: 15px;
$font-size-px-lg: 20px;
$bp-sm: 320;
$bp-ms: 576;
$bp-md: 768;
$bp-ml: 1024;
$bp-lg: 1280;
$bp-xl: 1440;
$bp-xx: 1920;
$dbp: 1280;
$desktop-bp: lg;
$theme-ratio: $fifth;
$theme-color: #007bff;
$main-col-width: 8;
$sidebar-col-width: 4;
$sidebar-side: right;
$font-family-primary: 'Poppins';
$font-family-secondary: null;
$blue: #4a62fb;
$pink: #fc2690;
$red: #d94b40;
$orange: #fc7237;
$yellow: #febe37;
$green: #1bd3b9;
$teal: #107c8e;
$cyan: #41ffba;
