//// ======================================================================== //
/// @name   _variables
/// @group  BootPress
/// @since  1.0.0
/// @author Sam Rankin <samrankin.dev@gmail.com>
/// ======================================================================= ////

@import 'bootstrap/scss/variables';
@import 'theme';
// ========================================================================== //
// ======================== SECTION: General Settings ======================= //
// ========================================================================== //

// ------------------- SECTION: Modular Scale Settings ------------------ //

$font-ratio-lg    : $theme-ratio;
$font-ratio-sm    : $theme-ratio;

$modularscale: (
    base  : 1rem,
    ratio : $theme-ratio
);

$modularscale-px-lg: (
    base  : $font-size-px-lg,
    ratio : $theme-ratio
);

$modularscale-px-sm: (
    base  : $font-size-px-sm,
    ratio : $theme-ratio
);
// !SECTION: Modular Scale Settings

// ------------------------ SECTION: Color System ----------------------- //

$theme-colors: map-merge((
    'tertiary'  : $tertiary,
), $theme-colors );

$primary:       $cyan;
$secondary:     $gray-700;
$success:       $teal;
$info:          $blue;
$warning:       $orange;

$social-colors: (
    'facebook'  : #3c5a99,
    'instagram' : #e1306c,
    'google'    : #db4437,
    'linkedin'  : #006192,
    'twitter'   : #1da1f2,
    'yelp'      : #d32123,
    'youtube'   : #f00
);

// Customize the light and dark text colors for use in our YIQ color contrast
//function.
$yiq-text-dark  : $dark;
$yiq-text-light : $light;

// Disabled Colors
$bg-disabled   : $gray-200;
$text-disabled : $gray-600;


// !SECTION: Color System

// -------------------------- SECTION: Options -------------------------- //
// Quickly modify global styling by enabling or disabling optional features.

$enable-caret                               : true;
$enable-rounded                             : false;
$enable-shadows                             : true;
$enable-gradients                           : false;
$enable-transitions                         : true;
$enable-prefers-reduced-motion-media-query  : true;
// Deprecated, no longer affects any compiled CSS
$enable-hover-media-query                   : false;
$enable-grid-classes                        : true;
$enable-pointer-cursor-for-buttons          : true;
$enable-print-styles                        : true;
$enable-responsive-font-sizes               : true;
$enable-validation-icons                    : true;
$enable-deprecation-messages                : false;
// !SECTION: Options

// -------------------------- SECTION: Spacing -------------------------- //
//
// Control the default styling of most Bootstrap elements by modifying these
// variables. Mostly focused on spacing.
// You can add more entries to the $spacers map, should you need more variation.

$ms-spacers: ();
$ms-spacers: map-merge((
    '0'   : 0,
    '0-5' : 0.5,
    '1'   : 1,
    '1-5' : 1.5,
    '2'   : 2,
    '2-5' : 1.5,
    '3'   : 3,
    '3-5' : 3.5,
    '4'   : 4,
    '4-5' : 4.5,
    '5'   : 5,
    '5-5' : 5.5,
    '6'   : 6
), $ms-spacers);

// This variable affects the `.h-*` and `.w-*` classes.
$sizes: ();

$sizes: map-merge((
    25    : 25%,
    33    : 33%,
    50    : 50%,
    67    : 67%,
    75    : 75%,
    100   : 100%,
    auto  : auto
), $sizes );
// !SECTION: Spacing


// ---------------------------- SECTION: Grid --------------------------- //
//
// Define the minimum dimensions at which your layout will change,
// adapting to different screen sizes, for use in media queries.

// ====================== SECTION: Breakpoints ====================== //
$xs: 0;
$sm: to-length($bp-sm, 'px');
$ms: to-length($bp-ms, 'px');
$md: to-length($bp-md, 'px');
$ml: to-length($bp-ml, 'px');
$lg: to-length($bp-lg, 'px');
$xl: to-length($bp-xl, 'px');
$xx: to-length($bp-xx, 'px');

$grid-breakpoints: (
    xs: $xs,
    sm: $sm,
    ms: $ms,
    md: $md,
    ml: $ml,
    lg: $lg,
    xl: $xl,
    xx: $xx
);

$sm-bp  : (xs, sm, ms, md);
$lg-bp  : (ml, lg, xl, $xx);

$font-sizes: (
    $sm: $font-size-px-sm,
    $xx: $font-size-px-lg
);

// !SECTION: Breakpoints

// ==================== SECTION: Grid containers ==================== //
//
// Define the maximum width of `.container` for different screen sizes.

$container-max-widths: (
    xs: 100vw,
    ms: 95vw,
    md: 90vw,
    ml: 85vw,
    lg: 80vw,
    xl: 75vw
);

// !SECTION: Grid containers

// ====================== SECTION: Grid Columns ===================== //
//
// Set the number of columns and specify the width of the gutters.

$gutters-25  : $grid-gutter-width * 0.25;
$gutters-33  : $grid-gutter-width * 0.33;
$gutters-50  : $grid-gutter-width * 0.50;
$gutters-67  : $grid-gutter-width * 0.67;
$gutters-75  : $grid-gutter-width * 0.75;
$gutters-100 : $grid-gutter-width * 1.00;
$gutters-150 : $grid-gutter-width * 1.50;
$gutters-200 : $grid-gutter-width * 2.00;
$gutters-300 : $grid-gutter-width * 3.00;
$gutters-400 : $grid-gutter-width * 4.00;

$grid-padding: (
    xs: $gutters-100,
    sm: $gutters-100,
    ms: $gutters-100,
    md: $gutters-100,
    ml: $gutters-150,
    lg: $gutters-200
);

// !SECTION: Grid Columns

// !SECTION: Grid

// !SECTION: General Settings


// ========================================================================== //
// =========================== SECTION: Components ========================== //
// ========================================================================== //

// ----------------------------- SECTION: Global ---------------------------- //
// Define common padding and border radius sizes and more.

$component-active-color : color-yiq($primary);

$embed-responsive-aspect-ratios: join((
    (21 9),
    (3 4),
    (3 2),
    (2 3),
    (2 1),
    (1 2)
),$embed-responsive-aspect-ratios);

// !SECTION: Global

// ------------------------- SECTION: Typography ------------------------ //
//
// Font, line-height, and color for body text, headings, and more.
// SECTION: Font Families

$font-family-system     : system, -apple-system, system-ui, BlinkMacSystemFont, 'San Francisco', 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Fira Sans', 'Droid Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';
$font-family-sans-serif : Frutiger, 'Frutiger Linotype', Univers, Calibri, 'Gill Sans', 'Gill Sans MT', 'Myriad Pro', Myriad, 'DejaVu Sans Condensed', 'Liberation Sans', 'Nimbus Sans L', Tahoma, Geneva, 'Helvetica Neue', Helvetica, Arial, sans-serif;
$font-family-serif      : 'Palatino Linotype', Palatino, Palladio, 'URW Palladio L', 'Book Antiqua', Baskerville, 'Bookman Old Style', 'Bitstream Charter', 'Nimbus Roman No9 L', Garamond, 'Apple Garamond', 'ITC Garamond Narrow', 'New Century Schoolbook', 'Century Schoolbook', 'Century Schoolbook L', Georgia, serif;
$font-family-monospace  : Consolas, 'Andale Mono WT', 'Andale Mono', 'Lucida Console', 'Lucida Sans Typewriter', 'DejaVu Sans Mono', 'Bitstream Vera Sans Mono', SFMono-Regular, Menlo, Monaco, 'Liberation Mono', 'Nimbus Mono L', Monaco, 'Courier New', Courier, monospace;
$font-family-base       : $font-family-primary, sans-serif;

// !SECTION: Font Families

// SECTION: Base Font Sizes
$font-size-base   : ms(0);
$font-size-lg     : ms(0.5);
$font-size-sm     : ms(-0.5);
$line-height-base : 1.5;
// !SECTION: Base Font Sizes

// SECTION: Headings
$h1-font-size : ms(3);
$h2-font-size : ms(2.5);
$h3-font-size : ms(2);
$h4-font-size : ms(1.5);
$h5-font-size : ms(1);
$h6-font-size : ms(0.5);
// !SECTION: Headings

// SECTION: Display Text
$display1-size  : ms(5);
$display2-size  : ms(4.5);
$display3-size  : ms(4);
$display4-size  : ms(3.5);

// !SECTION: Display Text

// !SECTION: Typography

// --------------------------- SECTION: Tables -------------------------- //
//
// Customizes the `.table` component with basic values, each used across all table variations.

$table-hover-color  : color-yiq($table-hover-bg);
$table-dark-color         : color-yiq($table-dark-bg);
$table-dark-hover-color   : color-yiq($table-dark-hover-bg);

// !SECTION: Tables

// !SECTION: Components

// ========================================================================== //
// ============================ SECTION: Plugins ============================ //
// ========================================================================== //

// ---------------------------- SECTION: Select 2 --------------------------- //

$s2bs-border-radius-base            : $border-radius-sm;
$s2bs-border-radius-lg              : $border-radius-lg;
$s2bs-border-radius-sm              : $border-radius-sm;
$s2bs-btn-default-bg                : $input-bg;
$s2bs-btn-default-border            : $input-border-color;
$s2bs-btn-default-color             : $input-color;
$s2bs-caret-width-base              : $caret-width;
$s2bs-caret-width-lg                : $caret-width;
$s2bs-cursor-disabled               : not-allowed;
$s2bs-dropdown-header-color         : $input-color;
$s2bs-dropdown-link-active-bg       : $component-active-bg;
$s2bs-dropdown-link-active-color    : $component-active-color;
$s2bs-dropdown-link-disabled-color  : $text-disabled;
$s2bs-dropdown-link-hover-bg        : $s2bs-dropdown-link-active-bg;
$s2bs-dropdown-link-hover-color     : $s2bs-dropdown-link-active-color;
$s2bs-font-size-base                : $input-font-size;
$s2bs-font-size-lg                  : $input-font-size-lg;
$s2bs-font-size-sm                  : $input-font-size-sm;
$s2bs-padding-x                     : $input-padding-y;
$s2bs-padding-lg-x                  : $input-padding-x-lg;
$s2bs-padding-sm-x                  : $input-padding-x-sm;
$s2bs-padding-y                     : $input-padding-y;
$s2bs-padding-lg-y                  : $input-padding-y-lg;
$s2bs-padding-sm-y                  : $input-padding-y-sm;
$s2bs-line-height                   : $input-line-height;
$s2bs-input-bg                      : $input-bg;
$s2bs-input-bg-disabled             : $input-disabled-bg;
$s2bs-input-color                   : $input-color;
$s2bs-input-color-placeholder       : $input-color;
$s2bs-input-border                  : $input-border-color;
$s2bs-input-border-width            : $input-border-width;
$s2bs-input-border-focus            : $input-focus-border-color;
$s2bs-input-border-radius           : $input-border-radius;
$s2bs-input-height                  : $input-height;
$s2bs-input-height-lg               : $input-height-lg;
$s2bs-input-height-sm               : $input-height-sm;
$s2bs-input-tag-bg                  : $info;
$s2bs-input-tag-font-size           : $input-font-size-sm;
$s2bs-input-tag-line-height         : $input-line-height;
$s2bs-input-tag-color               : color-yiq($info);
$s2bs-input-tag-padding-y           : ms(-2);
$s2bs-input-tag-padding-x           : ms(-1);

//  SECTION: Theme-specific variables  //

$s2bs-dropdown-arrow-color              : $custom-select-indicator-color;
$s2bs-dropdown-box-shadow               : $input-box-shadow;
$s2bs-dropdown-box-shadow-above         : 0 -6px 12px rgba(0, 0, 0, 0.175);
$s2bs-clear-selection-color             : $s2bs-dropdown-arrow-color;
$s2bs-clear-selection-hover-color       : $s2bs-btn-default-color;
$s2bs-remove-choice-color               : $s2bs-input-color-placeholder;
$s2bs-remove-choice-hover-color         : $s2bs-btn-default-color;
$s2bs-selection-choice-border-radius    : $s2bs-border-radius-base;
$s2bs-dropdown-header-padding-vertical  : $s2bs-padding-y;
$s2bs-dropdown-header-font-size         : $s2bs-font-size-sm;
$s2bs-form-control-default-box-shadow   : $input-box-shadow;
$s2bs-form-control-focus-box-shadow     : $input-btn-focus-box-shadow;
$s2bs-form-control-transition           : $input-transition;

// !SECTION: Theme-specific variables

// !SECTION: Select2
// !SECTION: Plugins
