//// ======================================================================== //
/// @name   admin
/// @group  BootPress
/// @since  1.0.0
/// @author Sam Rankin <samrankin.dev@gmail.com>
/// ======================================================================= ////

@import 'core';
$container-max-widths: (
    sm: 540px,
    md: 720px,
    lg: 960px,
    xl: 1140px
);
@import 'bootstrap/scss/utilities/text';
@import 'bootstrap/scss/utilities/display';
@import 'bootstrap/scss/bootstrap-grid';
@import 'admin/*.scss';
@import 'editor/*.scss';
