.alignleft {
    float: left;
    max-width: 100%;
    display: inline-block;
    margin-right: $grid-gutter-width;
    margin-bottom: $grid-gutter-width;
}

.aligncenter {
    float: center;
    max-width: 100%;
    display: inline-block;
    margin-right: auto;
    margin-left: auto;
    margin-bottom: $grid-gutter-width;
}

.alignright {
    float: right;
    max-width: 100%;
    display: inline-block;
    margin-left: $grid-gutter-width;
    margin-bottom: $grid-gutter-width;
}
